/* Sass Maps*/
/* Functions */
/* general attributes */
* {
  box-sizing: border-box;
  outline: none;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
  color: #626262;
  line-height: 24px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

a {
  color: #009b4e;
  text-decoration: none;
}

a:hover {
  color: #3d3d3d;
}

button {
  width: 25%;
  height: 40px;
  margin: 20px 4% 0px 0%;
  border: 2px solid #009b4e;
  background-color: transparent;
  color: #008141;
  border-radius: 6px;
  cursor: pointer;
  letter-spacing: 1px;
}

button:hover {
  background-color: #009b4e;
  border: 1px solid #009b4e;
  color: #fff;
}

body {
  margin: 0 0 150px 0;
}

#header_bg {
  background-color: #cef0ce;
  top: 0;
  width: 100%;
  height: 650px;
  position: absolute;
  z-index: -1;
}

#header_main_container {
  margin: 20px auto 30px auto;
  width: 95%;
  height: 300px;
  /* grid rules */
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 60% auto;
      grid-template-columns: 60% auto;
  grid-column-gap: 3%;
      grid-template-areas: "header_left header_right";
  z-index: 5;
}

#header_main_container #header_left_content {
  overflow: auto;
}

#header_main_container #header_left_content #header_logo_menu_section {
  overflow: auto;
  margin-top: 6px;
}

#header_main_container #header_left_content #header_logo_menu_section #logo_section {
  float: left;
  width: 24%;
}

#header_main_container #header_left_content #header_logo_menu_section #logo_section img {
  width: 100%;
}

#header_main_container #header_left_content #header_logo_menu_section #menu_section {
  float: right;
  width: 72%;
  text-align: center;
}

#header_main_container #header_left_content #header_logo_menu_section #menu_section table {
  width: 100%;
}

#header_main_container #header_left_content #header_logo_menu_section #menu_section td {
  padding: 12px 3% 10px 3%;
}

#header_main_container #header_left_content #header_logo_menu_section #menu_section td a {
  text-decoration: none;
  color: #626262;
  font-weight: bold;
  text-transform: uppercase;
}

#header_main_container #header_left_content #header_logo_menu_section #menu_section td a:hover {
  color: #009b4e;
}

#header_main_container #header_left_content #welcome_description_section {
  width: 75%;
  margin-top: 50px;
  padding: 0px 0px 0px 4%;
}

#header_main_container #header_left_content #welcome_description_section h1 {
  line-height: 45px;
  margin-bottom: 25px;
}

#header_main_container #header_left_content #welcome_description_section #header_buttons_section {
  margin-top: 50px;
}

#header_main_container #header_left_content #welcome_description_section #header_buttons_section #our_store_button, #header_main_container #header_left_content #welcome_description_section #header_buttons_section #make_order_button {
  width: 30%;
  height: 45px;
  background-color: #009b4e;
  border: none;
  color: #fff;
  border-radius: 8px;
  font-size: 16px;
  border: 2px solid #009b4e;
  cursor: pointer;
}

#header_main_container #header_left_content #welcome_description_section #header_buttons_section #our_store_button:hover, #header_main_container #header_left_content #welcome_description_section #header_buttons_section #make_order_button:hover {
  background-color: transparent;
  color: #009b4e;
}

#header_main_container #header_left_content #welcome_description_section #header_buttons_section #make_order_button {
  margin: 0px 0px 0px 8%;
  background-color: transparent;
  color: #009b4e;
}

#header_main_container #header_left_content #welcome_description_section #header_buttons_section #make_order_button:hover {
  background-color: #009b4e;
  color: #fff;
}

#header_main_container #header_right_content {
  overflow: auto;
  height: 550px;
  /*background-color: #afd4af;*/
}

#header_main_container #header_right_content #search_and_language_switcher_section {
  overflow: auto;
  float: right;
  width: 45%;
  margin-top: 15px;
}

#header_main_container #header_right_content #search_and_language_switcher_section img {
  width: 34px;
}

#header_main_container #header_right_content #search_and_language_switcher_section #search_button_section {
  float: left;
  margin: 3px 8% 0px 8%;
  cursor: pointer;
}

#header_main_container #header_right_content #search_and_language_switcher_section #language_switcher_section, #header_main_container #header_right_content #search_and_language_switcher_section #side_menu_icon_section {
  float: left;
  margin: 8px 8% 0px 8%;
  cursor: pointer;
}

#header_main_container #header_right_content #social_media_links_section {
  position: absolute;
  right: 4.8%;
  width: 3%;
  height: 400px;
  margin: 120px 0px 0px 0px;
}

#header_main_container #header_right_content #social_media_links_section img {
  width: 100%;
  margin-bottom: 20px;
  cursor: pointer;
}

#home_page_header_art {
  position: absolute;
  top: 10px;
  right: 12%;
  z-index: -1;
}

#grid_below_header_home_page {
  width: 92%;
  margin: 560px auto 0px auto;
  display: -ms-grid;
  display: grid;
  grid-column-gap: 2%;
  -ms-grid-columns: (minmax(0, 1fr))[4];
      grid-template-columns: repeat(4, minmax(0, 1fr));
}

#grid_below_header_home_page #one_grid_below_header_home_page {
  padding-bottom: 10px;
  border: 1px solid #fff;
  border-radius: 10px;
  background-color: #fff;
  -webkit-box-shadow: 0 20px 40px #e6e6e6;
          box-shadow: 0 20px 40px #e6e6e6;
}

#grid_below_header_home_page #one_grid_below_header_home_page:hover {
  -webkit-box-shadow: 0 0px 0px #e6e6e6;
          box-shadow: 0 0px 0px #e6e6e6;
  border: 1px solid #e6e6e6;
}

#grid_below_header_home_page #one_grid_below_header_home_page #header_one_grid_home_page_below_header {
  overflow: auto;
  width: 92%;
  margin: 10px auto 8px auto;
}

#grid_below_header_home_page #one_grid_below_header_home_page #header_one_grid_home_page_below_header #icon_header_one_grid_home_page_below_header {
  float: left;
  width: 18%;
}

#grid_below_header_home_page #one_grid_below_header_home_page #header_one_grid_home_page_below_header #icon_header_one_grid_home_page_below_header img {
  width: 100%;
}

#grid_below_header_home_page #one_grid_below_header_home_page #header_one_grid_home_page_below_header #title_header_one_grid_home_page_below_header {
  float: left;
  margin: 0px 0px 0px 6%;
  padding: 15px 0px 0px 0%;
  font-size: 16px;
}

#grid_below_header_home_page #one_grid_below_header_home_page #header_one_grid_home_page_below_header .dots {
  float: right;
  width: 10px;
  height: 10px;
  background-color: red;
  border-radius: 50%;
}

#grid_below_header_home_page #one_grid_below_header_home_page #header_one_grid_home_page_below_header .dots.green {
  background-color: #0ad714;
}

#grid_below_header_home_page #one_grid_below_header_home_page #header_one_grid_home_page_below_header .dots.orange {
  background-color: orange;
}

#grid_below_header_home_page #one_grid_below_header_home_page #header_one_grid_home_page_below_header .dots.blue {
  background-color: #0abed7;
}

#grid_below_header_home_page #one_grid_below_header_home_page #header_one_grid_home_page_below_header .dots.purple {
  background-color: #d70ad0;
}

#grid_below_header_home_page #one_grid_below_header_home_page #body_one_grid_home_page_below_header {
  width: 85%;
  margin: 15px auto 15px auto;
  font-size: 14px;
}

#grid_below_header_home_page #one_grid_below_header_home_page #readmore_one_grid_home_page_below_header {
  overflow: auto;
  width: 85%;
  margin: 10px auto 5px auto;
}

#grid_below_header_home_page #one_grid_below_header_home_page #readmore_one_grid_home_page_below_header .line_deco {
  float: left;
  width: 60%;
  height: 0.5px;
  margin-top: 15px;
  background-color: #009b4e;
  opacity: 0.2;
}

#grid_below_header_home_page #one_grid_below_header_home_page #readmore_one_grid_home_page_below_header .readmore_link {
  float: right;
  width: auto;
  font-size: 14px;
}

#statistics_home_section {
  margin: 90px 0px 0px 0px;
  width: 100%;
}

#statistics_home_section #title_statistics_home_section {
  text-align: center;
}

#statistics_home_section #title_statistics_home_section h3 {
  margin-bottom: -10px;
  text-transform: uppercase;
  font-size: 15px;
  letter-spacing: 2px;
}

#statistics_home_section #title_statistics_home_section h1 {
  color: #009b4e;
}

#statistics_home_section #circles_statistics_home_section {
  width: 85%;
  margin: 50px auto 0px auto;
  display: -ms-grid;
  display: grid;
  grid-column-gap: 5%;
  -ms-grid-columns: (minmax(0, 1fr))[4];
      grid-template-columns: repeat(4, minmax(0, 1fr));
}

#statistics_home_section #circles_statistics_home_section #one_grid_circles_statistics {
  overflow: auto;
  padding-top: 34%;
  padding-bottom: 29%;
  border: 10px solid #eee;
  text-align: center;
  border-radius: 50%;
  cursor: pointer;
}

#statistics_home_section #circles_statistics_home_section #one_grid_circles_statistics:hover {
  -webkit-box-shadow: 0 20px 40px #e6e6e6;
          box-shadow: 0 20px 40px #e6e6e6;
  border: 2px solid #ddd;
}

#statistics_home_section #circles_statistics_home_section #one_grid_circles_statistics #statistics_value {
  margin-top: 0px;
  color: #888;
  font-size: 50px;
  font-weight: bold;
}

#statistics_home_section #circles_statistics_home_section #one_grid_circles_statistics #statistics_type {
  margin-top: 25px;
  font-size: 18px;
}

#statistics_home_section hr {
  width: 90%;
  height: 0.5px;
  margin-top: 40px;
  color: blue;
  background-color: #e5e5e5;
  border: none;
}

#we_help_build_your_store {
  overflow: auto;
  margin: 60px auto 0px auto;
  width: 85%;
  display: -ms-grid;
  display: grid;
  grid-column-gap: 5%;
  -ms-grid-columns: (minmax(0, 1fr))[2];
      grid-template-columns: repeat(2, minmax(0, 1fr));
}

#we_help_build_your_store #image_we_help_build_your_store {
  float: left;
}

#we_help_build_your_store #image_we_help_build_your_store img {
  width: 100%;
}

#we_help_build_your_store #content_we_help_build_your_store {
  padding: 30px 5% 0px 0%;
}

#we_help_build_your_store #content_we_help_build_your_store h1 {
  color: #009b4e;
}

#video_home_section {
  overflow: auto;
  margin: 50px 0px 0px 0px;
  padding: 40px 8% 60px 8%;
  background-color: #f7f7f7;
}

#video_home_section #content_video_home_section {
  float: left;
  width: 48%;
  padding: 0px 0px 0px 0px;
}

#video_home_section #video_player_thumbnail_section {
  float: right;
  width: 48%;
  text-align: center;
}

#video_home_section #video_player_thumbnail_section #thumbnail {
  width: 95%;
  height: 340px;
  margin: 30px auto 0px auto;
  background: url("../images/video_thumbnail.jpg") center center;
  border-radius: 12px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#video_home_section #video_player_thumbnail_section #thumbnail #play_button_thumbnail {
  margin: auto;
  width: 80px;
  height: 80px;
  background-color: #009b4e;
  border-radius: 50%;
  opacity: 0.9;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  cursor: pointer;
}

#video_home_section #video_player_thumbnail_section #thumbnail #play_button_thumbnail:hover {
  -webkit-box-shadow: 0 10px 20px #222;
          box-shadow: 0 10px 20px #222;
}

#video_home_section #video_player_thumbnail_section #thumbnail #play_button_thumbnail img {
  width: 55%;
}

#our_services_section_home_page {
  margin: 80px 0px 0px 0px;
}

#our_services_section_home_page #header_our_services_section_home_page {
  width: 50%;
  margin: 0px auto 0px auto;
  text-align: center;
}

#our_services_section_home_page #header_our_services_section_home_page h1 {
  color: #009b4e;
}

#our_services_section_home_page #grid_services_home_page {
  width: 88%;
  margin: 50px auto 0px auto;
  display: -ms-grid;
  display: grid;
  grid-column-gap: 4%;
  -ms-grid-columns: (minmax(0, 1fr))[4];
      grid-template-columns: repeat(4, minmax(0, 1fr));
}

#our_services_section_home_page #grid_services_home_page #one_grid_services_home_page {
  padding: 15px 5% 15px 5%;
  border: 1px solid #eee;
  border-radius: 10px;
  background-color: #fff;
  -webkit-box-shadow: 0 10px 20px #e9e9e9;
          box-shadow: 0 10px 20px #e9e9e9;
  cursor: pointer;
}

#our_services_section_home_page #grid_services_home_page #one_grid_services_home_page:hover {
  -webkit-box-shadow: none;
          box-shadow: none;
  border: 1px solid #ddd;
}

#our_services_section_home_page #grid_services_home_page #one_grid_services_home_page #icon_grid_services_home_page {
  width: 25%;
  margin: 0px auto 0px auto;
}

#our_services_section_home_page #grid_services_home_page #one_grid_services_home_page #icon_grid_services_home_page img {
  width: 100%;
}

#our_services_section_home_page #grid_services_home_page #one_grid_services_home_page #service_name_grid_services_home_page {
  margin-top: 8px;
  text-align: center;
  font-size: 17px;
}

#our_services_section_home_page #grid_services_home_page #one_grid_services_home_page #cta_grid_services_home_page {
  width: 16%;
  margin: 20px auto 0px auto;
  text-align: center;
}

#our_services_section_home_page #grid_services_home_page #one_grid_services_home_page #cta_grid_services_home_page img {
  width: 100%;
  opacity: 0.5;
}

#our_services_section_home_page #grid_services_home_page #one_grid_services_home_page #cta_grid_services_home_page img:hover {
  opacity: 1;
}

#our_services_section_home_page #view_all_services_button {
  width: 14%;
  margin: 70px auto 0px auto;
}

#products_section {
  width: 100%;
  margin: 60px auto 0px auto;
  padding: 20px 0px 60px 0px;
  background-color: #fafafa;
}

#products_section #title_products_section {
  width: 40%;
  margin: 0px auto 0px auto;
  text-align: center;
}

#products_section #products_list_products_sections {
  width: 85%;
  margin: 30px auto 0px auto;
  display: -ms-grid;
  display: grid;
  grid-column-gap: 2%;
  grid-row-gap: 40px;
  -ms-grid-columns: (minmax(0, 1fr))[4];
      grid-template-columns: repeat(4, minmax(0, 1fr));
}

#products_section #products_list_products_sections #one_products_sections {
  cursor: pointer;
}

#products_section #products_list_products_sections #one_products_sections #photo_products_section {
  border: 1px solid #ccc;
  border-radius: 10px;
  text-align: center;
}

#products_section #products_list_products_sections #one_products_sections #photo_products_section:hover {
  -webkit-box-shadow: 0 10px 20px #ddd;
          box-shadow: 0 10px 20px #ddd;
}

#products_section #products_list_products_sections #one_products_sections #photo_products_section img {
  width: 80%;
}

#products_section #products_list_products_sections #one_products_sections #name_products_section, #products_section #products_list_products_sections #one_products_sections #description_products_section {
  margin: 10px 0px 0px 0px;
  padding: 0px 3% 0px 4%;
  font-size: 20px;
  font-weight: bold;
}

#products_section #products_list_products_sections #one_products_sections #description_products_section {
  font-size: 15px;
  font-weight: normal;
}

#products_section #view_all_products_button {
  width: 14%;
  margin: 50px auto 0px auto;
}

#freebees_section {
  margin: 70px auto 0px auto;
}

#freebees_section #title_freebees_section {
  text-align: center;
}

#freebees_section #title_freebees_section h1 {
  color: #009b4e;
}

#freebees_section #tabs_freebees_section {
  overflow: auto;
  margin-top: 40px;
}

#freebees_section #tabs_freebees_section #buttons_navigation_tabs {
  width: 80%;
  margin: 10px auto 0px auto;
}

#freebees_section #tabs_freebees_section #buttons_navigation_tabs button {
  width: 19.7%;
  height: 40px;
  margin: 0;
  border: 2px solid #009b4e;
  background-color: #f2f2f2;
  color: #008141;
  border-left: none;
  border-right: none;
  border-top: none;
  border-bottom: none;
  border-radius: 0px;
  cursor: pointer;
  padding: 5px 10px 5px 10px;
  font-size: 14px;
  color: #555;
}

#freebees_section #tabs_freebees_section #buttons_navigation_tabs button:hover {
  background-color: #009b4e;
  border-bottom: 3px solid #fff;
  color: #fff;
}

#freebees_section #tabs_freebees_section #buttons_navigation_tabs button.active_tab {
  background-color: #cef0ce;
  border-bottom: 3px solid #009b4e;
}

#freebees_section #tabs_freebees_section .tabcontent {
  display: none;
  background-color: transparent;
  opacity: 0.9;
}

#freebees_section #tabs_freebees_section .tabcontent #get_update_freebees, #freebees_section #tabs_freebees_section .tabcontent #stock_market_update_freebees, #freebees_section #tabs_freebees_section .tabcontent #financial_support_get_update_freebees, #freebees_section #tabs_freebees_section .tabcontent #logistical_support_update_freebees, #freebees_section #tabs_freebees_section .tabcontent #technical_support_get_update_freebees {
  overflow: auto;
  width: 100%;
  height: 440px;
  background: url("../images/tracking_map_freebees.jpg") top center/cover;
}

#freebees_section #tabs_freebees_section .tabcontent #get_update_freebees #card_get_update_freebees, #freebees_section #tabs_freebees_section .tabcontent #stock_market_update_freebees #card_get_update_freebees, #freebees_section #tabs_freebees_section .tabcontent #financial_support_get_update_freebees #card_get_update_freebees, #freebees_section #tabs_freebees_section .tabcontent #logistical_support_update_freebees #card_get_update_freebees, #freebees_section #tabs_freebees_section .tabcontent #technical_support_get_update_freebees #card_get_update_freebees {
  float: right;
  width: 35%;
  height: 330px;
  margin: 55px 8% 0px 0px;
  padding: 10px 1.5% 10px 1.5%;
  background-color: #fff;
  border-radius: 10px;
  -webkit-box-shadow: 0 10px 20px #aaa;
          box-shadow: 0 10px 20px #aaa;
}

#freebees_section #tabs_freebees_section .tabcontent #get_update_freebees #card_get_update_freebees:hover, #freebees_section #tabs_freebees_section .tabcontent #stock_market_update_freebees #card_get_update_freebees:hover, #freebees_section #tabs_freebees_section .tabcontent #financial_support_get_update_freebees #card_get_update_freebees:hover, #freebees_section #tabs_freebees_section .tabcontent #logistical_support_update_freebees #card_get_update_freebees:hover, #freebees_section #tabs_freebees_section .tabcontent #technical_support_get_update_freebees #card_get_update_freebees:hover {
  -webkit-box-shadow: 0 0px 0px #aaa;
          box-shadow: 0 0px 0px #aaa;
}

#freebees_section #tabs_freebees_section .tabcontent #get_update_freebees #card_get_update_freebees #header_card_get_update_freebees, #freebees_section #tabs_freebees_section .tabcontent #stock_market_update_freebees #card_get_update_freebees #header_card_get_update_freebees, #freebees_section #tabs_freebees_section .tabcontent #financial_support_get_update_freebees #card_get_update_freebees #header_card_get_update_freebees, #freebees_section #tabs_freebees_section .tabcontent #logistical_support_update_freebees #card_get_update_freebees #header_card_get_update_freebees, #freebees_section #tabs_freebees_section .tabcontent #technical_support_get_update_freebees #card_get_update_freebees #header_card_get_update_freebees {
  overflow: auto;
  margin: 5px 0px 10px 0px;
}

#freebees_section #tabs_freebees_section .tabcontent #get_update_freebees #card_get_update_freebees #header_card_get_update_freebees #icon_card_get_update_freebees, #freebees_section #tabs_freebees_section .tabcontent #stock_market_update_freebees #card_get_update_freebees #header_card_get_update_freebees #icon_card_get_update_freebees, #freebees_section #tabs_freebees_section .tabcontent #financial_support_get_update_freebees #card_get_update_freebees #header_card_get_update_freebees #icon_card_get_update_freebees, #freebees_section #tabs_freebees_section .tabcontent #logistical_support_update_freebees #card_get_update_freebees #header_card_get_update_freebees #icon_card_get_update_freebees, #freebees_section #tabs_freebees_section .tabcontent #technical_support_get_update_freebees #card_get_update_freebees #header_card_get_update_freebees #icon_card_get_update_freebees {
  float: left;
  width: 8%;
}

#freebees_section #tabs_freebees_section .tabcontent #get_update_freebees #card_get_update_freebees #header_card_get_update_freebees #icon_card_get_update_freebees img, #freebees_section #tabs_freebees_section .tabcontent #stock_market_update_freebees #card_get_update_freebees #header_card_get_update_freebees #icon_card_get_update_freebees img, #freebees_section #tabs_freebees_section .tabcontent #financial_support_get_update_freebees #card_get_update_freebees #header_card_get_update_freebees #icon_card_get_update_freebees img, #freebees_section #tabs_freebees_section .tabcontent #logistical_support_update_freebees #card_get_update_freebees #header_card_get_update_freebees #icon_card_get_update_freebees img, #freebees_section #tabs_freebees_section .tabcontent #technical_support_get_update_freebees #card_get_update_freebees #header_card_get_update_freebees #icon_card_get_update_freebees img {
  width: 100%;
}

#freebees_section #tabs_freebees_section .tabcontent #get_update_freebees #card_get_update_freebees #header_card_get_update_freebees #title_card_get_update_freebees, #freebees_section #tabs_freebees_section .tabcontent #stock_market_update_freebees #card_get_update_freebees #header_card_get_update_freebees #title_card_get_update_freebees, #freebees_section #tabs_freebees_section .tabcontent #financial_support_get_update_freebees #card_get_update_freebees #header_card_get_update_freebees #title_card_get_update_freebees, #freebees_section #tabs_freebees_section .tabcontent #logistical_support_update_freebees #card_get_update_freebees #header_card_get_update_freebees #title_card_get_update_freebees, #freebees_section #tabs_freebees_section .tabcontent #technical_support_get_update_freebees #card_get_update_freebees #header_card_get_update_freebees #title_card_get_update_freebees {
  float: left;
  padding: 14px 1% 0px 5%;
  font-size: 20px;
  font-weight: bold;
}

#freebees_section #tabs_freebees_section .tabcontent #get_update_freebees #card_get_update_freebees #get_more_info_button_card, #freebees_section #tabs_freebees_section .tabcontent #stock_market_update_freebees #card_get_update_freebees #get_more_info_button_card, #freebees_section #tabs_freebees_section .tabcontent #financial_support_get_update_freebees #card_get_update_freebees #get_more_info_button_card, #freebees_section #tabs_freebees_section .tabcontent #logistical_support_update_freebees #card_get_update_freebees #get_more_info_button_card, #freebees_section #tabs_freebees_section .tabcontent #technical_support_get_update_freebees #card_get_update_freebees #get_more_info_button_card {
  width: 100%;
  height: 50px;
  margin: 25px 0px 0px 0px;
  background-color: #009b4e;
  color: #fff;
  font-size: 17px;
  font-weight: bold;
}

#freebees_section #tabs_freebees_section .tabcontent #get_update_freebees #card_get_update_freebees #get_more_info_button_card:hover, #freebees_section #tabs_freebees_section .tabcontent #stock_market_update_freebees #card_get_update_freebees #get_more_info_button_card:hover, #freebees_section #tabs_freebees_section .tabcontent #financial_support_get_update_freebees #card_get_update_freebees #get_more_info_button_card:hover, #freebees_section #tabs_freebees_section .tabcontent #logistical_support_update_freebees #card_get_update_freebees #get_more_info_button_card:hover, #freebees_section #tabs_freebees_section .tabcontent #technical_support_get_update_freebees #card_get_update_freebees #get_more_info_button_card:hover {
  background-image: -webkit-gradient(linear, left top, right top, from(#009b4e), to(#00bd1f));
  background-image: linear-gradient(to right, #009b4e, #00bd1f);
}

#freebees_section #tabs_freebees_section .tabcontent #stock_market_update_freebees {
  background: url("../images/stock_market.jpg") top center/cover;
}

#freebees_section #tabs_freebees_section .tabcontent #financial_support_get_update_freebees {
  background: url("../images/financial_support.jpg") top center/cover;
}

#freebees_section #tabs_freebees_section .tabcontent #logistical_support_update_freebees {
  background: url("../images/logistical_support.jpg") top center/cover;
}

#freebees_section #tabs_freebees_section .tabcontent #technical_support_get_update_freebees {
  background: url("../images/technical_support.jpg") top center/cover;
}

#join_our_community_section {
  margin: 0px auto 0px auto;
  padding: 70px 10% 80px 10%;
  display: -ms-grid;
  display: grid;
  grid-column-gap: 4%;
  -ms-grid-columns: (minmax(0, 1fr))[2];
      grid-template-columns: repeat(2, minmax(0, 1fr));
  background-color: #f7f7f7;
}

#join_our_community_section #one_grid_join_our_community_section img {
  width: 100%;
}

#lastest_news_section {
  margin: 70px auto 0px auto;
}
/*# sourceMappingURL=main.css.map */